/* First font */
@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/Unbounded-ExtraLight.ttf') format('truetype');
}

/* Second font */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

body {
  font-family: 'Montserrat';
  line-height: 1.5;
  color: $color-dark;
}
p {
  line-height: 1.8;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: 'Unbounded';
  color: $color-dark;
  font-weight: 700;
}
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-weight: 700;
  color: $color-dark;
}

.fs-1,
.fs-2,
.fs-3,
.fs-4,
.fs-5,
.fs-6 {
  color: $color-dark;
}

.part{
  font-family: 'Unbounded';
}