/*
* Colors
*/
$color-primary: #E5A760;
$color-secondary: #EBCC9F;
$color-tertiary: #edeae5;
$color-light: #FFFFFF;
$color-dark: #545454;
$color-border: #9a9898;
$color-danger: #fc0000;
$color-shadow: rgba(1, 6, 33, 0.06);
